body {
    margin: 0;
    padding: 0;
    background-color: #262626;
}
.clock {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    -webkit-transform: translate(-50%, -50%);
    -moz-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    -o-transform: translate(-50%, -50%);
    height: 200px;
    width: 200px;
    border: 15px solid #ff5f5f;
    border-radius: 50%;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
    background-color: #fff;
    background-image: url(image.png);
    background-size: cover;
    box-shadow: -2px 2px 0 #e2323e, inset 0 0 20px rgba(0, 0, 0, 0.5);
    
}
.clock::before {
    content: '';
    position: absolute;
    top: calc(50% - 3px);
    left: 50%;
    width: 40%;
    height: 6px;
    background-color: #262626;
    border-radius: 3px;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    -ms-border-radius: 3px;
    -o-border-radius: 3px;
    animation: animate 4s linear infinite;
    -webkit-animation: animate 4s linear infinite;
    transform-origin: left;
}
@keyframes animate {
    0% {
        transform: rotate(-90deg);
        -webkit-transform: rotate(-90deg);
        -moz-transform: rotate(-90deg);
        -ms-transform: rotate(-90deg);
        -o-transform: rotate(-90deg);
}
    100% {
        transform: rotate(270deg);
        -webkit-transform: rotate(270deg);
        -moz-transform: rotate(270deg);
        -ms-transform: rotate(270deg);
        -o-transform: rotate(270deg);
} 
}
.clock::after {
    content: '';
    position: absolute;
    top: calc(50% - 3px);
    left: 50%;
    width: 30%;
    height: 6px;
    background-color: #262626;
    border-radius: 3px;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    -ms-border-radius: 3px;
    -o-border-radius: 3px;
    animation: animate 48s linear infinite;
    -webkit-animation: animate 48s linear infinite;
    transform-origin: left;
}
.clock span {
    display: block;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    -webkit-transform: translate(-50%, -50%);
    -moz-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    -o-transform: translate(-50%, -50%);
    width: 10px;
    height: 10px;
    border-radius: 50%;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
    background-color: #ff5f5f;
    z-index: 1;
}